@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    :root{
        --color-primary: hsl(0,0%,0%);
        --color-secondary:hsl(0,0%,50%);
        --color-text-base:hsl(0,0%,100%);
        --color-bg-primary:hsl(0,0%,100%);
        --color-border:#d1d9e0b3;
        --color-danger:#ff0d3e;
        --color-danger-variant:#ff0d3d1f;
        --color-warning:#fd7418;
        --color-warning-variant:#fd74181f;
        --color-alert:#c2c200;
        --color-normal:#8575ff;
        --color-normal-variant:#8575ff1f;
        scroll-behavior: smooth;
    }
}
.theme-blue{
    --color-primary:rgb(133, 117, 255);
    --color-primary-hover:#715ff8;
    --color-primary-variant:hsla(247, 100%, 73%, 0.473);
    --color-secondary:hsl(247,100%,79%);
    --color-tertiary:hsla(247, 100%, 73%, 0.199);
    --color-tertiary-variant:hsla(247, 100%, 73%, 0.082);
}
.theme-green{
    --color-primary:hsl(120,100%,35%);
    --color-primary-hover:#23d823;
    --color-primary-variant:hsla(120, 100%, 35%, 0.474);
    --color-secondary:#66ff66;
    --color-tertiary:hsla(120, 100%, 70%, 0.17);
    --color-tertiary-variant:hsla(120, 100%, 70%, 0.068);
}